section{
    margin: 50px;
}

#profileACS{
    display: flex;
    justify-content: space-evenly;
}

#profileCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#profileCard h2,
#HIF h2,
#ACS h2{
    font-size: xx-large;
}

#profileCard p,
#HIF p,
#ACS p{
    font-size: large;
}

#profileMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

#profileMe img{
    max-width: 90%;
    border-radius: 15px;
}

#profileMe h2{
    font-family: monospace;
}

#profileAbout{
    width: 60%;
    padding: 10px;
}

#profileAbout a,
#HIF a{
    color: black;
}

#profileAbout a:hover,
#HIF a:hover{
    color: #2c00a5;
    text-decoration: underline;
}

#profileAbout h2{
    font-family: monospace;
}

#profileAbout h2{
    font-family: sans-serif;
}

#PHIF{
    display: flex;
    justify-content: space-evenly;
}

#cv{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

#cv img{
    max-width: 80%;
}

#cvButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.cvButton{
    width: 30%;
    height: 50px;
    background-color: #86e6dc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.cvButton:hover{
    background-color: #70d8ce;
    text-decoration: underline;
}

#HIF{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#ACS{
    width: 30%;
}

#HIF h2,
#HIF p,
#ACS h2,
#ACS p{
    margin-bottom: 10px;
}

@media screen and (max-width: 1250px){
    #PHIF{
        display: flex;
        flex-direction: column-reverse;
        align-content: space-between;
    }

    #cv{
        width: 70%;
        margin: auto;
    }

    #HIF{
        width: 80%;
        padding-top: 50px;
        margin: auto;
    }
}

@media screen and (max-width: 1045px){
    #profileACS{
        flex-direction: column;
    }

    #ACS{
        width: 80%;
        margin: auto;
        margin-top: 25px;
    }

    #ACS h2{
        text-align: center;
    }

    #profileCard{
        margin: auto;
    }

    #cv{
        width: 75%;
    }

    .cvButton{
        width: 40%;
    }
}

@media screen and (max-width: 575px){
    section{
        margin: 20px;
    }

    #profileCard{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #profileMe{
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
    }
    
    #profileMe img{
        max-width: 50%;
        border-radius: 10px;
    }
    
    #profileAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    #ACS,
    #HIF{
        width: 90%;
    }
}

@media screen and (max-width: 505px){
    #cvButtons{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .cvButton{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
}