#carousel{
    margin: 0;
}

#waterMark{
    font-size: 9px;
    background-color: grey;
    border-radius: 5px;
    padding: 2.5px;

    position: absolute;
    top: 430px;
    right: 2.5px;
    z-index: 2;
    opacity: 0.5;
}

.pic{
    position: relative;
    width: 100%;
    height: 400px;
}

.pic > img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s;
}

img:nth-child(1){
    object-position: 50% 90%;
    opacity: 1;
}
img:nth-child(2){
    object-position: 50% 75%;
}
img:nth-child(3){
    object-position: 50% 50%;
}
img:nth-child(4){
    object-position: 50% 75%;
}
img:nth-child(5){
    object-position: 50% 70%;
}
img:nth-child(6){
    object-position: 50% 70%;
}
img:nth-child(7){
    object-position: 50% 70%;
}