#welcome{
    padding: 50px;
    text-align: center;
}

#welcome h1{
    font-size: xxx-large;
}

#interests{
    background-color: #49535a;
    color: whitesmoke;
}

#projects{
    background-color: #32383d;
    color: whitesmoke;
}

#interests h2,
#projects h2{
    text-align: center;
    font-size: xxx-large;
    padding: 40px;
}

#interests p,
#projects p{
    text-align: center;
    padding: 20px;
}

#interests a,
#projects a{
    color: whitesmoke;;
}

#interests a:hover,
#projects a:hover{
    color: rgb(0, 255, 210);
    text-decoration: underline;
}

.interList{
    display: flex;
    justify-content: space-evenly;
}

.inter{
    width: 300px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.inter h3{
    width: 100%;
    font-size: larger;
    text-align: center;
}

@media screen and (max-width: 750px){
    .interList{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inter{
        width: 100%;
    }
}