#welcome{
    padding: 50px;
    text-align: center;
}

#welcome h1{
    font-size: xxx-large;
}

#welcome h2{
    font-size: large;
}

#container{
    padding-left: 10%;
    padding-right: 10%;
}

.spacing{
    margin-bottom: 25px;
}

.spacing h2{
    text-align: center;
}

.spacing img{
    display: block;
    width: 50%;
    margin: auto;
}

.spacing li{
    list-style-type: none;
    text-align: center;
}

#demo_video{
    width: 75%;
    margin: auto;
    margin-bottom: 25px;
}

.iframe-wrapper{
    width: 100%;
    position: relative;
    padding-top: 56.25%; /* 9/16*100 = 56.25% */
    height: 0;
    overflow: hidden;
}

.iframe-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button{
    width: 20%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: #212529;
    color: whitesmoke;
}

.button:hover{
    background-color: #383c41;
    text-decoration: underline;
}

@media screen and (max-width: 1045px){
    .button{
        width: 30%;
    }
}

@media screen and (max-width: 575px){
    #welcome h1{
        font-size: 1.8rem;
    }

    #welcome h2{
        font-size: 1rem;
    }

    #demo_video{
        width: 90%;
    }

    #buttons{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    
    .button{
        width: 70%;
        margin: auto;
        margin-top: 20px;
    }
}
