.modal-show{
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #212529;
    margin: 20px;
    position: relative;
}

.modal-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-show img{
    width: 98%;
    height: 98%;
    object-fit:cover;
    border-radius: 18px;
}

.modal-title{
    text-align: center;
    font-size: large;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.modal-show img:hover{
    opacity: 10%;
}

#model-bkg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212529;
    opacity: 0.5;
    z-index: 100;
}

.modal{
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    overflow-y: auto;
    width: 80%;
    height: 80%;
    opacity: 1;
    z-index: 101;

    padding: 50px;
    background-color: #49535a;
    color: whitesmoke;
    border-radius: 50px;
}

#modal-exit-btn{
    position: fixed;
    top: calc(90% - 20px);
    left: calc(50% - 20px);
    z-index: 102;

    color: maroon;
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 100%;
    font-size: 40px;
}

@media screen and (max-width: 474px){
    .modal{
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

    #modal-exit-btn{
        top: calc(95% - 20px);
    }
}

@media screen and (max-width: 375px){
    .modal-show{
        width: 90%;
        height: 350px;
    }

    .modal{
        padding: 25px;
        border-radius: 25px;
    }
}
