@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

#welcome{
    padding: 50px;
    text-align: center;
}

#welcome h1{
    font-size: xxx-large;
}

#welcome p{
    font-size: large;
}

.grouping{
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#title{
    font-family: "Libre Baskerville", serif;
    font-size: xx-large;
    text-align: center;
}

.text h3{
    font-size: x-large;
    margin-top: 15px;
}

.text p{
    font-family: "Quicksand", sans-serif;
    font-size: medium;
    margin-top: 5px;
}

.text a{
    color: #86e6dc;
}

.text a:hover{
    color: #a688f8;
    text-decoration: underline;
}

#images{
    width: 50%;
    margin: auto;
    margin-top: 15px;
}

#images img{
    padding: 5px;
    width: 100%;
    object-fit: contain;
}

#photography{
    margin: 20px auto 40px;
    width: 60%;
    height: 200px;
    border-radius: 20px;
    background-color: #212529;
    position: relative;
}

#photography img{
    object-position: 50% 75%;
    width: 98%;
    height: 98%;
    object-fit:cover;
    border-radius: 18px;
}

#photography img:hover{
    opacity: 10%;
}

@media screen and (max-width: 1425px){
    #images{
        width: 70%;
    }
}

@media screen and (max-width: 1150px){
    .grouping{
        width: 100%;
    }
}

@media screen and (max-width: 875px){
    #images{
        width: 100%;
    }
}

@media screen and (max-width: 353px){
    #title{
        font-size: x-large;
    }

    .text h3{
        font-size: large;
    }

    .text p{
        font-size: small;
    }
}