.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.969000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.181818;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.749615px;}
.fc1{color:rgb(73,230,211);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:43.979998px;}
.fs5{font-size:47.039999px;}
.fs2{font-size:47.999998px;}
.fs3{font-size:55.979998px;}
.fs1{font-size:59.969998px;}
.fs0{font-size:119.999995px;}
.y0{bottom:0.000021px;}
.y1f{bottom:54.235546px;}
.y1a{bottom:83.485545px;}
.y1e{bottom:90.235544px;}
.y19{bottom:119.485543px;}
.y1d{bottom:126.235543px;}
.y18{bottom:155.485542px;}
.y1c{bottom:162.235541px;}
.y17{bottom:201.745540px;}
.y35{bottom:268.340785px;}
.y34{bottom:287.465784px;}
.y8{bottom:291.273288px;}
.y7{bottom:311.523287px;}
.y33{bottom:325.715782px;}
.y6{bottom:331.773286px;}
.y32{bottom:344.840782px;}
.y5{bottom:352.023285px;}
.y4{bottom:372.273284px;}
.y31{bottom:383.090780px;}
.y3{bottom:392.523284px;}
.y30{bottom:402.215779px;}
.y2f{bottom:421.340778px;}
.y9{bottom:423.708282px;}
.y1b{bottom:448.863281px;}
.y16{bottom:513.078333px;}
.y2e{bottom:524.937326px;}
.y15{bottom:533.328332px;}
.y2d{bottom:542.937325px;}
.y14{bottom:553.578331px;}
.y13{bottom:573.828330px;}
.y2c{bottom:578.937324px;}
.y12{bottom:594.078329px;}
.y2b{bottom:596.937323px;}
.y11{bottom:614.328328px;}
.y2a{bottom:632.937322px;}
.y10{bottom:634.578328px;}
.y29{bottom:650.937321px;}
.yf{bottom:654.828327px;}
.ye{bottom:675.078326px;}
.y28{bottom:686.937319px;}
.yd{bottom:695.328325px;}
.y27{bottom:704.937319px;}
.yc{bottom:715.578324px;}
.y26{bottom:722.937318px;}
.y25{bottom:740.937317px;}
.yb{bottom:744.225348px;}
.y24{bottom:758.937316px;}
.y23{bottom:776.937316px;}
.y22{bottom:812.937314px;}
.y37{bottom:826.812300px;}
.y21{bottom:830.937313px;}
.y36{bottom:847.062300px;}
.y20{bottom:848.937313px;}
.ya{bottom:873.945975px;}
.y2{bottom:1031.207739px;}
.y1{bottom:1105.907736px;}
.h6{height:36.575998px;}
.h7{height:41.980907px;}
.h5{height:42.656758px;}
.h8{height:44.901817px;}
.h3{height:45.697138px;}
.h4{height:45.818180px;}
.h2{height:91.439996px;}
.h1{height:1263.374947px;}
.h0{height:1263.374968px;}
.w1{width:893.249963px;}
.w0{width:893.250000px;}
.x0{left:0.000000px;}
.x4{left:34.040691px;}
.x5{left:35.077065px;}
.x7{left:43.775078px;}
.x6{left:58.330286px;}
.x3{left:59.961786px;}
.xa{left:61.939369px;}
.x9{left:381.011733px;}
.x8{left:388.583332px;}
.x2{left:441.918484px;}
.x1{left:503.996816px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.555213pt;}
.fs4{font-size:39.093331pt;}
.fs5{font-size:41.813332pt;}
.fs2{font-size:42.666665pt;}
.fs3{font-size:49.759998pt;}
.fs1{font-size:53.306664pt;}
.fs0{font-size:106.666662pt;}
.y0{bottom:0.000018pt;}
.y1f{bottom:48.209374pt;}
.y1a{bottom:74.209373pt;}
.y1e{bottom:80.209373pt;}
.y19{bottom:106.209372pt;}
.y1d{bottom:112.209371pt;}
.y18{bottom:138.209370pt;}
.y1c{bottom:144.209370pt;}
.y17{bottom:179.329369pt;}
.y35{bottom:238.525142pt;}
.y34{bottom:255.525141pt;}
.y8{bottom:258.909589pt;}
.y7{bottom:276.909588pt;}
.y33{bottom:289.525140pt;}
.y6{bottom:294.909588pt;}
.y32{bottom:306.525139pt;}
.y5{bottom:312.909587pt;}
.y4{bottom:330.909586pt;}
.y31{bottom:340.525138pt;}
.y3{bottom:348.909585pt;}
.y30{bottom:357.525137pt;}
.y2f{bottom:374.525136pt;}
.y9{bottom:376.629584pt;}
.y1b{bottom:398.989583pt;}
.y16{bottom:456.069629pt;}
.y2e{bottom:466.610957pt;}
.y15{bottom:474.069628pt;}
.y2d{bottom:482.610956pt;}
.y14{bottom:492.069627pt;}
.y13{bottom:510.069627pt;}
.y2c{bottom:514.610955pt;}
.y12{bottom:528.069626pt;}
.y2b{bottom:530.610954pt;}
.y11{bottom:546.069625pt;}
.y2a{bottom:562.610953pt;}
.y10{bottom:564.069624pt;}
.y29{bottom:578.610952pt;}
.yf{bottom:582.069624pt;}
.ye{bottom:600.069623pt;}
.y28{bottom:610.610951pt;}
.yd{bottom:618.069622pt;}
.y27{bottom:626.610950pt;}
.yc{bottom:636.069621pt;}
.y26{bottom:642.610949pt;}
.y25{bottom:658.610949pt;}
.yb{bottom:661.533643pt;}
.y24{bottom:674.610948pt;}
.y23{bottom:690.610947pt;}
.y22{bottom:722.610946pt;}
.y37{bottom:734.944267pt;}
.y21{bottom:738.610945pt;}
.y36{bottom:752.944266pt;}
.y20{bottom:754.610945pt;}
.ya{bottom:776.840867pt;}
.y2{bottom:916.629101pt;}
.y1{bottom:983.029098pt;}
.h6{height:32.511999pt;}
.h7{height:37.316362pt;}
.h5{height:37.917118pt;}
.h8{height:39.912726pt;}
.h3{height:40.619678pt;}
.h4{height:40.727271pt;}
.h2{height:81.279997pt;}
.h1{height:1122.999953pt;}
.h0{height:1122.999972pt;}
.w1{width:793.999967pt;}
.w0{width:794.000000pt;}
.x0{left:0.000000pt;}
.x4{left:30.258392pt;}
.x5{left:31.179613pt;}
.x7{left:38.911180pt;}
.x6{left:51.849143pt;}
.x3{left:53.299365pt;}
.xa{left:55.057217pt;}
.x9{left:338.677096pt;}
.x8{left:345.407406pt;}
.x2{left:392.816430pt;}
.x1{left:447.997170pt;}
}
